{% extends 'base.html' %} 
{% load static %}
{% block 'body' %}

<body>
    <div class="col-12 mt-3 d-none d-lg-block">
        <form class=" col-12 d-flex justify-content-around bgcolor">
            <div class="d-flex flex-row ">
                <div class=" form-control border p-3 d-flex flex-row mr-3">
                    <input class="form-control mr-2 bdw" type="search" placeholder="Location">
                    <i class="fas fa-map-marker-alt icon ml-auto"></i>
                </div>

                <div class="border form-control p-3 d-flex flex-row">
                    <input class="form-control me-2 mr-2 bdw" type="search" placeholder="Search ">
                    <i class="fas fa-search icon ml-auto"></i>
                </div>
            </div>


        </form>

    </div>
    <div class="col-12 mt-3 d-lg-none">
        <form class=" col-12 d-flex justify-content-around bgcolor">
            <div class="d-flex flex-row ">
                <div class=" form-control border-1 p-3 d-flex flex-row mr-3">
                    <input class="form-control mr-2 bdw" type="search" placeholder="Location">
                    <i class="fas fa-map-marker-alt icon ml-auto"></i>
                </div>

                <div class="border-1 form-control p-3 d-flex flex-row">
                    <input class="form-control me-2 mr-2 bdw" type="search" placeholder="Search ">
                    <i class="fas fa-search icon ml-auto"></i>
                </div>
            </div>


        </form>

    </div>
    <!-- Topic Cards -->
    <div id="cards_landscape_wrap-2">
        <div class="container-fluid ml-4 mr-4 pl-4 pr-5 pb-5">
            <div class="row">

                <div class="col-xs-12 col-12 col-md-6 col-lg-3 ">
                    <a href="">
                        <div class="card-flyer ">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632137000/st-1532940094_zymztj.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Gupta Sports Store</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>

                                            <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>

                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o fa" data-rating="1"></span>
                                            <span class="fa fa-star-o fa" data-rating="2"></span>
                                            <span class="fa fa-star-o fa" data-rating="3"></span>
                                            <span class="fa fa-star-o fa" data-rating="4"></span>
                                            <span class="fa fa-star-o fa" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-12 col-md-6 col-lg-3 ">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632223505/11617253510926_cerxtg.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Guptass Sports Store</h6>
                                    <ul class="ul ml-auto">
                                        <li><span class="bold ">Service options:</span> In-store shopping</li>
                                        <li><span class="bold ">Address:</span> F-25 Cannaught Place</li>
                                        <li><span class="bold ">Hours:</span> Open⋅Closes 6:30AM Tue</li>
                                        <li><span class="bold ">Phone:</span>098112 86939</li>
                                    </ul>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>
                                            <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-xs-12 col-12 col-md-6 col-lg-3 ">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632137000/st-1532940094_zymztj.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Gupta Sports Store</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>
                                             <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-12 col-md-6 col-lg-3 ">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632223505/11617253510926_cerxtg.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Gupta Sports Store</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>
                                             <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632137000/st-1532940094_zymztj.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Gupta Sports Store</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>
                                             <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
 <div class="col-xs-12 col-12 col-md-6 col-lg-3 ">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632223505/11617253510926_cerxtg.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Gupta Sports Store</h6>
                                    <ul class="ul ml-auto">
                                        <li><span class="bold ">Service options:</span> In-store shopping</li>
                                        <li><span class="bold ">Address:</span> F-25 Cannaught Place</li>
                                        <li><span class="bold ">Hours:</span> Open⋅Closes 6:30AM Tue</li>
                                        <li><span class="bold ">Phone:</span>098112 86939</li>
                                    </ul>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>
                                             <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-xs-12 col-12 col-md-6 col-lg-3">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632137000/st-1532940094_zymztj.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Gupta Sports Store</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>
                                             <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
 <div class="col-xs-12 col-12 col-md-6 col-lg-3 ">
                    <a href="">
                        <div class="card-flyer">
                            <div class="text-box">
                                <div class="image-box">
                                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1632223505/11617253510926_cerxtg.jpg" alt="" />
                                </div>
                                <div class="text-container">
                                    <h6>Gupta Sports Store</h6>
                                    <ul class="ul ml-auto">
                                        <li><span class="bold ">Service options:</span> In-store shopping</li>
                                        <li><span class="bold ">Address:</span> F-25 Cannaught Place</li>
                                        <li><span class="bold ">Hours:</span> Open⋅Closes 6:30AM Tue</li>
                                        <li><span class="bold ">Phone:</span>098112 86939</li>
                                    </ul>
                                    <div class="d-flex flex-row pt">
                                        <div class="text-center ml-3 pt-3">
                                            <button class="btn btn-primary">Location</button>
                                             <a href="productssfe.html">
                                            <input type=button class="btn btn-primary" value="View Products">
                                        	</a>                                        </div>

                                    </div>
                                    <div class="col-lg-12 pt-3">
                                        <div class="star-rating">
                                            <span class="fa fa-star-o" data-rating="1"></span>
                                            <span class="fa fa-star-o" data-rating="2"></span>
                                            <span class="fa fa-star-o" data-rating="3"></span>
                                            <span class="fa fa-star-o" data-rating="4"></span>
                                            <span class="fa fa-star-o" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a></div>

            </div>
        </div>
    </div>
</body>

</html>
{%endblock%}