{% extends 'base.html' %} 
{% load static %}
{% block 'body' %}

<body>
    <div class="container bg-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366102/ADCW5561_veqdku.jpg">

                    <h3>Knee Gaurds</h3>
                    <p>Adidas.</p>
                    <h6>$100.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1">Add to cart<i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366089/ADCE8097_yb6jku.jpg">
                    <h3>Basketball</h3>
                    <p>Adidas</p>
                    <h6>$40.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1 mt-1">Add to cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Nike</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366072/NKSC3137-711_xohmb1.jpg">
                    <h3>FootBall</h3>
                    <p>Nike</p>
                    <h6>$70.84</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1 ">Buy Now</button>
                    <button class="buy-1 mt-1">Add to cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366102/ADCW5561_veqdku.jpg">

                    <h3>Knee Gaurds</h3>
                    <p>Adidas.</p>
                    <h6>$100.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1">Add to cart<i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366089/ADCE8097_yb6jku.jpg">
                    <h3>Basketball</h3>
                    <p>Adidas</p>
                    <h6>$40.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1 mt-1">Add to cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Nike</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366072/NKSC3137-711_xohmb1.jpg">
                    <h3>FootBall</h3>
                    <p>Nike</p>
                    <h6>$70.84</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1 ">Buy Now</button>
                    <button class="buy-1 mt-1">Add to cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366102/ADCW5561_veqdku.jpg">

                    <h3>Knee Gaurds</h3>
                    <p>Adidas.</p>
                    <h6>$100.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1">Add to cart<i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366102/ADCW5561_veqdku.jpg">

                    <h3>Knee Gaurds</h3>
                    <p>Adidas.</p>
                    <h6>$100.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1">Add to cart<i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366089/ADCE8097_yb6jku.jpg">
                    <h3>Basketball</h3>
                    <p>Adidas</p>
                    <h6>$40.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1 mt-1">Add to cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Nike</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366072/NKSC3137-711_xohmb1.jpg">
                    <h3>FootBall</h3>
                    <p>Nike</p>
                    <h6>$70.84</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1 ">Buy Now</button>
                    <button class="buy-1 mt-1">Add to cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366102/ADCW5561_veqdku.jpg">

                    <h3>Knee Gaurds</h3>
                    <p>Adidas.</p>
                    <h6>$100.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1">Add to cart<i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3">
                <div class="card-">
                    <p class="badge mr-auto">Adidas</p>
                    <img src="https://res.cloudinary.com/dwqf3kixx/image/upload/v1631366089/ADCE8097_yb6jku.jpg">
                    <h3>Basketball</h3>
                    <p>Adidas</p>
                    <h6>$40.00</h6>
                    <ul>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <button class="buy-1">Buy Now</button>
                    <button class="buy-1 mt-1">Add to cart <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>


        </div>

    </div>
</body>

</html>
{%endblock%}